<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>


    <!-- About -->
    <h4>About</h4>
    <p><</p>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">

    </ul>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
